body{
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: white;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
  
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

a:link {
  color: #39FF14;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #0DFF00;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#conhecimentos-scroll{
  scroll-behavior: smooth;
  width: 95%;
  white-space: nowrap;
  padding-bottom: 2.5%;
  justify-content: center;
}

.conhecimento{
  height: 30px;
  width: 88%;

  margin: 5%;
}

.conhecimento label{
  display: flex;
  flex-direction: column;
}

.conhecimento-tipos{
  width: 90%;
  box-shadow: 1px 2px 2px 1px #39FF14;
  border-radius: 16px;
  margin: 5%;
  padding: 1%;
  align-items: center;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}
.conhecimento-tipos h4{
  text-align: center;
}

.borda{
  width: 100%;
  height: 15px;
  border: 2px solid #25e445;
  border-radius: 12px;
  box-shadow: inset 0 .5px 0 0 #25e445, unset 0 5px 0 0 #080808;
  background-color: #222222;
  overflow: hidden;
}

.preenchimento{
  width: 50%;
  height: 100%;
  background-image: url("../src/Assets/images/bar.png");
  background-position: 50%;
  background-size: auto 91.5%;
  background-repeat: repeat-x;
  margin-bottom: 5%;
  overflow: hidden;
}

.div-de-conteudo{
  width: 96%;
  margin: 2%;
  border-image-repeat: stretch;
  box-shadow: 0 1px 0px 0px #302d2d59;
  border: 2px solid #302d2d59;
  border-radius: 16px;
}

#bg-perfil{
  width: 100%;
  height: calc(240px + 6vw);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%230CFF0C' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2339FF14'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position: center;
  border-radius: 16px 16px 0 0;
  border-bottom: 2px solid #37cf54;
}

#perfil{
  padding-bottom: 0%;
}

#nome{
  color: #fff;
  text-shadow: .5px 1px 0 #232424, .5px 2px 0 #000000;
}

#base-foto-e-nome{
  height: 40px;
  width: 100%;

  margin: 0;
  padding: 0; 

  display: flex;

  align-items: center;
  justify-content: center;
}
.texto_descricao_de_perfil{
  font-size: .9em;
}
.texto_descricao_de_perfil.secundaria{
  text-align: center;
  font-size: .8em;
  text-align: initial;
  padding: 0 10% 0 10%;
}

#foto-e-nome{
  z-index: 5;;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#foto-de-perfil{
  border-radius: 100%;
  border-bottom: 2px solid #37cf54;
  border-bottom: 2px solid #37cf54;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  height: calc(11vw + 11vh);
  width: calc(11vw + 11vh);
}

#foto-de-perfil img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

#descricao-de-perfil{
  padding-top: 10%;
  text-align: center;
  font-size: larger;
}

#bar{
  width: 70%;
  height: 0.1em;
  background-color: #0DFF00;
  box-shadow: 0px 0px 3px #39FF14;
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 15%;
}

#projetos-scroll {
  margin-left: 2.5%;
  scroll-behavior: smooth;
  width: 95%;
  height: 90%;
  white-space: nowrap;
  overflow-x: scroll !important;
  display: inline-flex;
  flex-direction: row;
  padding-bottom: 2.5%;
  margin-bottom: 1%;
  align-items: center;
}

.projeto{
  width: calc(25vw + 25vh);
  height: calc(35vw + 35vh);
  box-shadow: 1px 2px 2px 1px #39FF14;
  border-radius: 16px;
  margin: 8px;
  padding: 12px;

  word-wrap: break-word;
  white-space: normal;
}

.imagem-do-projeto{
  width: 100%;
  height: auto;
  margin-top: 2%;
}

.imagem-do-projeto img{
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.relacionados{
  display: flex;
  width: 80vw;
  box-shadow: 0 1px 1px .5px #39FF14;
  border-radius: 80px;
  height: 40px;
  margin-bottom: 1%;
  background-color: rgb(49, 48, 48);

  align-items: center;
}

.relacionado{
  border-radius: 100%;
  width: auto;
  height: 90%;
  margin: 1%;
}

.relacionado img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  align-self: center;
}

::-webkit-scrollbar{
  background-color: transparent;
  height: 3px;
  width: 3px;
  border-radius: 26px;
}
::-webkit-scrollbar-thumb{
  background-color: #39FF14;
  border-radius: 26px;
}
::-webkit-scrollbar-track{
  background-color: #000;
  border-radius: 26px;
}
::-webkit-scrollbar-button{
  background-color: transparent;
  width: 0%;
}
::-webkit-scrollbar-corner{
  background-color: transparent;
}

h1{
  font-size: 1.5em;
  color: #0DFF00;
  text-shadow: .5px 1px 0 #232424, .5px 2px 0 #000000;
  text-align: center;
}

.descricao-do-projeto{
  font-size: 80%;
}

#contatos{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0 2% 0% 2%;
  margin: 8px;
  width: auto;
  height: 45px;
  border-radius: 26px;
  border: none;
  transform: rotateX(20deg);
  background-color: transparent;
  transition: all .5s;
  cursor: pointer;
  font-size: 90%;
  font-weight: bold;
}

.contato img{
  width: auto;
  height: 90%;
  border-radius: 100%;
}

#email:active, #email:hover{
  background-color: #e43428;
  box-shadow: 0px 0px 16px 6px #e9574c;
}

#numero:active, #numero:hover{
  background-color: #2add4b;
  box-shadow: 0px 0px 16px 6px #37cf54;
  color: white;
}

#linkedin:active, #linkedin:hover{
  color: white;
  background-color: #0582ff;
  box-shadow: 0px 0px 16px 6px #0a66c2;
}

#github:active, #github:hover{
  color: white;
  background-color: #222222;
  box-shadow: 0px 0px 16px 6px #c2c2c2;
}

@media screen and (min-width: 700px) {
  #bar{
    margin-top: 2px;
  }
  .texto_descricao_de_perfil{
    font-size: calc(1vw + 1vh);
  }
  .texto_descricao_de_perfil.secundaria{
    font-size: calc(.9vw + .9vh);
    text-align: center;
  }
  #contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
  }
  .contato{
    width: 210px;
    font-size: 1em;
  }
  #conhecimentos-scroll{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .conhecimento-tipos{
    width: 20vw;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .div-de-conteudo{
    padding: 0px;
  }
  .relacionados{
    width: 35vw;
    height: 6vh;
  }
  .relacionado{
    height: 80%;
    width: auto;
  }
  .projeto{
    height: 75vh;
  }
  .descricao-do-projeto h3{
    font-size: calc(1vw + 1vh);
  }
  .descricao-do-projeto p{
    font-size: 1.4em;
  }
  #bg-perfil{
    background-size: 100% auto;
  }
}
